<h1> Buster's Best Bowling Alley</h1>
<h2> Bet You Can't Bowl A Strike Every Time</h2>
<p> 97 Bowling Alley Lane, Boulder CO </p>

<ul>
<% squares = [1, 3, 5, 7, 19] %>
<% squares.each do |square| %>
<li style="color:blue;"><%= square %></li>
<% end %>
</ul>
